{% extends 'base.html' %}
{% load static %}

{% block title %}{{ block.super}} - Login{% endblock %}

{% block style %}
    <link rel="stylesheet" href="{% static 'accounts/css/login.css' %}">
{% endblock %}

{% block content %}
<div class="form-container">
    <h2>Login to your FitSight Account</h2>
    <p>Don't have an account? <a href="{% url 'accounts:signup' %}">Sign Up</a></p>

    <form action="" method="post">
        {% csrf_token %}

        {% if form.non_field_errors %}
        <div class="error-container">
            <ul>
                {% for error in form.non_field_errors %}
                    <li>{{ error }}</li>
                {% endfor %}
            </ul>
        </div>
        {% endif %}

        {{ form.as_p }}
        <input type="submit" value="Login">
    </form>
</div>
{% endblock %}